body{
	font-family: 'Raleway', sans-serif;;
	font-size: 17px;
	margin: 0px;
	padding: 0px;
	background: #fff;
	color: #000;
}

*{
	box-sizing: border-box;
}

p{
	line-height: 1.4em;
	letter-spacing: 0.02em;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4{
	line-height: 1.10em;
	letter-spacing: 0.02em;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 55px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 25px;
	line-height: 1.4em;
}

h4{
	font-size: 20px;
	line-height: 1.4em;
}

a{
	text-decoration: none;
	color: #000;
}

ul, li{
	padding: 0px;
	margin: 0px;
}

.telephone-number__small{
	display: none;
}

.preloader__container{
	background: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    transition: background-color 0.6s ease;
    margin: 0 auto;
}

.preloader__elements{
	position: relative;
	width: 145px;
    height: 145px;
}

.elements__circle{
	background: #fff;
    border-top: 3px solid #509498;
    border-radius: 50%;
    position: absolute;
    top: 51%;
    left: 50%;
    width: 145px;
    height: 145px;
    animation: spin 2s infinite linear;
    transition: .6s;
    -webkit-animation: spin 2s infinite linear;
    -webkit-transition: .6s;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
   
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.elements__image{
	position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-top: 6px;
    transition: .6s;
}


.btn{
	font-size: 17px;
	display: block;
	width: 243px;
	height: 67px;
	padding: 22px 50px;
	background: #6E9C9F;
	color: #fff;
}

.btn:hover{
	background: #509498;
	transition: all 0.5 ease;
}

.all__breadcrumbs{
	margin:26px 0 214px;
}

.sticky-bar{
    margin: 0px auto;
    padding-top: 51px;    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 109px;
    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
    z-index: 1;
    transition: 300ms ease-in-out;
    background: #fff;
}

.header{
	padding-top:51px;
}

.navigation__mobile-menu{
	display: none;
}

.mobile-menu__ready{
	display: flex;
    flex-direction: column;
    width: 35px;
    height: 27px;
    row-gap: 9px;
	background: #6E9C9F;
}

.bar1{
	width: 24px;
    height: 3px;
    background-color: #000;
    margin-left: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;}

.bar2{
	width: 25px;
    height: 3px;
    background-color: #000;
    margin-left: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;}

.bar3{
	width: 30px;
    height: 3px;
    background-color: #000;
    margin-left: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;}

    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    -ms-transform: rotate(
        -45deg) translate(-5px, 5px);
        transform: rotate(
        -45deg) translate(-5px, 5px);
	}

	.change .bar2 {
    width: 0;
    opacity: 0;
	}

	.change .bar3 {
    width: 24px;
    -webkit-transform: rotate(45deg) translate(-12px, -12px) ;
    -ms-transform: rotate(45deg) translate(-12px, -12px) ;
        transform: rotate(45deg) translate(-12px, -12px) ;
	}

.mobile__menu-list{
	opacity: 0;
	position: fixed;
    background-color: #fff;
    border-radius: 5px;
    width: 181px;
    height: 170px;
    right: 0%;
    top: 19%;
    padding: 25px 5px 10px 25px;
    z-index: 1;
    transition: all 0.5s ease;
}

.mobile__menu-list.active{
	opacity: 1;
	border: 2px solid #6E9C9F;
	position: fixed;
    background-color: #fff;
    border-radius: 5px;
    width: 170px;
    height: 200px;
    right: 33%;
    top: 20%;
    padding: 25px 5px 10px 25px;
    z-index: 1;
    transition: all 0.5s ease;
}

.menu__list{
	display: flex;
	flex-direction: column;
}

.menu__item{
	column-gap: 15px;
	list-style: none;
	display: flex;
}

.menu__item:not(:first-of-type){
	margin-top: 15px;
}

.dress:before{
	height: 25px;
    width: 25px;
    display: block;
	content: '';
	background:  url('../gallery/Dress-main.svg')no-repeat;
}

.bag:before{
	height: 25px;
    width: 25px;
    display: block;
	content: '';
	background:  url('../gallery/handbag.svg')no-repeat;
}

.journal:before{
	height: 25px;
    width: 25px;
    display: block;
	content: '';
	background:  url('../gallery/et_newspaper.svg')no-repeat;
}

.messages:before{
	height: 25px;
    width: 25px;
    display: block;
	content: '';
	background:  url('../gallery/et_chat.svg')no-repeat;
}

.home-header{
	background: linear-gradient(to right, #fff 54.5%, #F1EADC 50%);
}

.container{
	width: 1110px;
	margin: 0px auto;
	padding: 0px;
}

.navigation{
	display: flex;
	justify-content: space-between;
}

.pannel__page:not(:first-of-type){
	margin-left: 45px;
}

.pannel__page{
	font-size: 15px;
	cursor: pointer;
}

.pannel__page:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
}

.navigation__telephone{
	display: flex;
	column-gap: 13px;
}

.telephone-wrapper-modal{
	display: none;
	width: 100%;
	height:100%;
}

.telephone-wrapper-modal.active{
	display: block;
}

.telephone__overlay{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(110, 156, 159, 0.95);
}

.telephone__modal-window{
    border: 1px solid #A9ADD1;
    width: 491px;
    height: 503px;
    padding: 67px 69px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.telephone-contacts__form{
	width: 100%;
}

.telephone-logo{
	width: 27px;
	height: 27px;
	cursor: pointer;
	display: block;
	background: url('../gallery/telephone-white.svg') no-repeat center/cover;
}

.telephone-contacts__form_index-del{
	position: fixed;
	top: 6%;
    right: 10%;
	cursor: pointer;
	opacity: 0.5;
	width: 15px;
	height: 15px;
}
.telephone-contacts__form_index-del:hover{
	transition: 0.5s ease;
	opacity: 1;
}

.telephone-number.active{
	display: none;
}

.telephone-feedback-form__input{
	margin-top: 35px;
}

.telephone-feedback-form__btn{
	margin-top: 35px;
	cursor: pointer;
	width: 351px;
	height: 68px;
	text-align: center;
}
.form__succes-message{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 278px;
    padding: 70px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 3;
}

.error{
	color:#ff0000;
}

.succes-message__close-btn{
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	background: #fff;
	margin: 35px auto 0px;
}

.succes-message__close-btn:hover{
	color: #fff;
	background: #6E9C9F;
	transition: all 0.5s ease;
}

.telephone-logo:hover{
	transition: 0.5s ease;
	background: url('../gallery/Telephone-hover.svg') no-repeat center/cover;
}

/*.navigation__cart{
	display: block;
	width: 24px;
	height: 24px;
	background: url('../gallery/shopping-bags.svg');
}*/

.first-section{
	padding-top: 41px;
	background: linear-gradient(to right, #fff 54.5%, #F1EADC 50%);
}

.offer{
	display: flex;
}

.slick-slider{
	width: 1767px;
	height: 709px;
	min-width: 0;
}

.slick-track{
	min-width: 0;
	display: flex;
}

.offer__description-slider{
	overflow: hidden;
}

.offer__description{
	padding-top: 146px;
}

.description__title{
	width: 585px;
	margin-bottom: 44px;
}

.description__text{
	font-size: 20px;
	text-align: end;
    width: 385px;
}

.offer__foto-slider{
	overflow: hidden;
}

.offer__foto{
    position: relative;
    height: 645px;
}

.foto__main{
	height: 100%;
	position: absolute;
	transform: translate(19%, 0%);
}

.foto__main-img{
	width: 100%;
	height: 100%;
}

.foto__thumbnails{
    position: absolute;
    left: 45%;
    transform: translate(87%, 101.5%);
}

.foto__second{
	transform: translate(65%, -96%);
    left: 100%;
    position: absolute;
}

.offer__action-btn{
	margin-top: 52px;
	display: flex;
}

.scroll-down{
	display: block;
	width: 67px;
	height: 67px;
	background: url('../gallery/Scroll-Down.svg');
}

/* Точки (булиты) */
.slick-dots{
	margin-top:126px;
	height: 4px;
	width: 310px;
	display: flex;
	justify-content: end;
}
.slick-dots li{
	background: #D1D1D1;
    border: 1px;
    width: 30px;
    height: 4px;
    cursor: pointer;
	list-style: none;
}

.slick-dots li:not(:first-of-type){
	margin-left: 12px;
}
/* Активная точка */
.slick-dots li.slick-active{
	background: #000;
	border: 1px;
    width: 30px;
    height: 4px;
    cursor: pointer;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	display: none;
}

/*second-section*/

.section-second{
	padding: 130px 0px;
}

.new-collection__list{
	margin: 65px 0px 92px;
	justify-content: space-between;
	display: flex;
}

.item__container:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(110, 156, 159, 0.64);
	opacity: 0;
	transition: all 0.5s ease;
}

.item__container{
	position: relative;
	width: 350px;
	height: 478px;
}

.item__container:hover::before, .item__container:hover::after{
	opacity: 1;
}

.item__container:after{
	content: '';
	opacity: 0;
	transition: all 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	width: 32px;
	height: 24px;
	background: url('../gallery/scroll-right.svg')no-repeat;
}

.item__link{
	position: absolute;
	width: 100%;
	height: 100%;
}

.item__price{
	text-align: center;
	margin-top:24px;
}

.price-product__title{
	margin-bottom: 7px;
}

.price-product{
	color: #998E78;
}
.price-product s{
	color: #9C9C9C;
}

.new-collection__shop-btn{
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	background: #fff;
	margin: 0px auto;
}

.new-collection__shop-btn:hover{
	color: #fff;
	background: #6E9C9F;
	transition: all 0.5s ease;
}

.Advantages{
	margin:130px 0px;
}

.Advantages__list{
	margin-top:92px;
	display: flex;
	column-gap: 30px;
}

.Advantages__logo{
	width: 63px;
	height: 63px;
}

.Advantages__description{
	margin-top: 37px;
}

.swiper{
	width: 729px;
	height: 487px;
}

.Dream-team{
	margin-top: 92px;
	position: relative;
	display: flex;
	justify-content: space-between ;
}

.gallery__foto{
	display: none;
}

.gallery__foto.active{
	display: block;
}
.gallery__scroll{
	position: absolute;
	bottom: 12%;
	left: 27%;
	width: 114px;
	height: 4px;
	display: flex;
	min-width: 0;
	min-height: 0;
}

.gallery__line_scroll{
	background: rgba(255, 255, 255, 0.36);
	width: 30px;
	height: 4px;
	cursor: pointer;
}

.gallery__line_scroll:not(:first-of-type){
	margin-left: 15px;
}

.gallery__line_scroll.active{
	background: #fff;
}

.slider__scroll-left{
	bottom: 54%;
	left: 69%;
	position: absolute;
	width: 29px;
	height: 18px;
	opacity: 0.5;
	cursor: pointer;
	background: url('../gallery/Slider-scroll-left.svg')no-repeat center/cover;
}

.slider__scroll-left:hover{
	opacity: 1;
	transition:all 0.5s ease;
}

.slider__scroll-right{
	transform: translate(-100%, 0%);
    right: 100%;
	position: absolute;
	bottom: 54%;
	width: 29px;
	height: 18px;
	opacity: 0.5;
	cursor: pointer;
	background: url('../gallery/Slider-scroll-right.svg')no-repeat center/cover;
}

.slider__scroll-right:hover{
	opacity: 1;
	transition:all 0.5s ease;
}

.Dream-team__description{
	width: 255px;
	height: 331px;
}

.team__text{
	margin: 77px 0px;
}

.team__text_fp{
	margin:28px 0px 36px;
}

.team__link{
	margin-top: 28px;
	color: #6E9C9F;
	display: block;
	cursor: pointer;
}

.team__link:hover{
	width: fit-content;
	border-bottom: 1px solid #CEDEDF;
}

/*footer*/

.footer{
	padding: 104px 0px 101px;
	background: #F1EADC;
}

.footer-content{
	justify-content: space-between;
	display: flex;
}

.footer__logo__other{
	font-size: 13px;
	margin-top: 73px;
	display: flex;
	flex-direction:column;
	row-gap: 6px;
}

.privancy-link:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
	border-bottom:1px solid #CEDEDF;
}

.public-offer:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
	border-bottom:1px solid #CEDEDF;
}

.Footer-navigation__catalog-links{
	flex-wrap: wrap;
    align-content: flex-end;
    width: 173px;
	font-size: 13px;
	margin-top: 39px;
	display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.navigation__link:hover{
	border-bottom:1px solid #CEDEDF
}

.catalog__link:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
	border-bottom:1px solid #CEDEDF;
}

.footer-social{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts-link:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
	border-bottom:1px solid #CEDEDF;
}

.social__contacts{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.social__media{
	column-gap: 12px;
	margin: 31px 0px;
	display: flex;
}

.media-links__instagram{
	display: block;
	width: 22px;
	height: 22px;
	background: url('../gallery/instagram.svg');
}

.media-links__instagram:hover{
	transition: 0.5s ease;
	background: url('../gallery/instagram-hover.svg')
}

.media-links__facebook{
	display: block;
	width: 22px;
	height: 22px;
	background: url('../gallery/facebook.svg')no-repeat center/cover;
}

.media-links__facebook:hover{
	transition: 0.5s ease;
	background: url('../gallery/facebook-hover.svg')no-repeat center/cover;
}

.media-links__twitter{
	display: block;
	width: 22px;
	height: 22px;
	background: url('../gallery/twitter.svg');
}

.media-links__twitter:hover{
	transition: 0.5s ease;
	background: url('../gallery/twitter-hover.svg');
}

/* shop*/

.select-itms{
	display: flex;
	justify-content: end;
}

.nice-select{
	background-color: #f2f2f2;
    border-radius: 30px;
    border: none;
    color: #333333;
    height: 31px;
    line-height: 31px;
    padding-right: 47px;
}

.shop-content{
	padding: 130px 0px 130px;
}

.shop__breadcrumbs{
	margin:26px 0 214px;
}

.breadcrumbs{
	width: 100%;
	height: 25px;
}

.breadcrumbs__list{
	display: flex;
	list-style: none;
}

.breadcrumbs__link:hover{
	transition: 0.5s ease;
	color: #6E9C9F;
}

.breadcrumbs__item_link:after{
	content: "—";
	width: 16px;
	height: 24px;
	margin: 0px 13px;
}

.breadcrumbs__item{
	color: #909090;
}

.items__categories{
	display: flex;
	justify-content: space-between;
}

.categories__clothes{
	padding: 19px 65px;
	border:1px solid #000;
}

.categories__clothes.active{
	background: #000;
	color: #fff;
}

.shop__products{
	margin-top: 92px;
}

.shop__products_text{
	font-size: 17px;
	color: #808080;
}

.shop__product-feed{
	display: flex;
    flex-direction: column;
    row-gap: 65px;
	margin: 65px 0px 62px;
}

.product-feed__list{
	justify-content: space-between;
	display: flex;
}

.shop__product-feed.active{
	display: none;
}

.shop__products_text.active{
	display: none;
}

.shop__products_text.active{
	display: none;
}

.pagination__tab.active{
	background: #000;
	color: #fff;
}

.pagination__tab{
	text-align: center;
	padding: 9px 0px;
	width: 41px;
	height: 41px;
	border: 1px solid #000;
}

.pagination__tab:not(:first-of-type) {
	margin: 0px 14px;
}

.shop__product-feed_pagination{
	display: flex;
	justify-content: center;
}

.pagination__scroll-right{
	padding: 14px 0px;
}

.pag__scrl{
	display: block;
	cursor: pointer;
	opacity: 0.5;
	width: 21px;
	height: 11px;
	background: url('../gallery/Pagination-scroll-right.svg')no-repeat center/cover;
}

.pag__scrl:hover{
	opacity: 1;
	transition: all 0.5 ease;
}

/*About */

.about-content{
	padding: 130px 0px 130px;
}

.about-brand__content{
	display: flex;
	flex-direction: column;
	row-gap: 130px;
}

.about-brand__idea{
	display: flex;
	justify-content: space-between ;
}

.idea__description{
	width: 542px;
	height: 393px;
}

.idea__text{
	margin: 114px 0px;
}

.idea__text_fp{
	margin:36px 0px 46px;
}

.about-brand__details{
	display: flex;
	justify-content: space-between ;
}

.magic__description{
	width: 542px;
	height: 321px;
}

.magic__text{
	margin: 114px 0px;
}

.magic__text_fp{
	margin:36px 0px 46px;
}

.About__shop-link{
	margin: 0px auto;
	padding: 22px 42px;
}

/*Contacts */

#map{
	width: 1109px;
	height: 476px;
}

#map-ifr{
	display: none;
}

.contacts-content{
	padding: 130px 0px 130px;
}

.google-map{
	width: 600px;
	height: 476px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts-organization{
	display: flex;
	justify-content: space-between;
	margin: 130px 0px;
}

.telephone__text{
	margin-bottom:19px;
}

.email__text{
	margin-bottom:19px;
}

.adress__text{
	margin-bottom:19px;
}

.contacts__form{
	width: 443px;
	height: 705px;
}

.feedback-form{
	display: flex;
	flex-direction: column;
	row-gap: 35px;
}

.input{
	background: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	overflow: hidden;
	width: 350px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #000;
}

.input:focus {
    outline: 0;
    box-shadow: none
}

.textarea{
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	border: none;
	border-bottom: 1px solid #000;
}

.textarea:focus {
    outline: 0;
    box-shadow: none
}

.feedback-form__message{
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	border: none;
	border-bottom: 1px solid #000;
	width: 443px;
	height: 134px;
}

.feedback-form__btn{
	border: 1px solid #6E9C9F;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	width: 189px;
	height: 68px;
	padding: 22px 50px;
	background: #6E9C9F;
	color: #fff;
}

.feedback-form__btn:hover{
	background: #509498;
	transition: all 0.5 ease;
}

/* Cart */

.content-cart{
	padding: 190px 0px 130px;
}

.cart__atributes{
	display: flex;
	justify-content: space-between;
	padding-bottom: 26px;
	border-bottom: 1px solid #CCCCCC;
}

.atributes__Numerals-goods{
	justify-content: space-between;
    display: flex;
	width: 424px;
}

.cart__media{
	padding-top: 49px;
	display: flex;
	justify-content: space-between;
}

.cart__media_atributes{
	display: flex;
}

.cart__media_atributes-del{
	padding-top: 79px;
}

.cart__media_index-del{
	cursor: pointer;
	opacity: 0.5;
}

.cart__media_index-del:hover{
	opacity: 1;
}

.cart__media_atributes-goods{
	padding-top: 79px;
}

.atributes__image{
	margin: 0px 34px 0px 24px;
	width: 137px;
	height: 179px;
}

.foto__goods{
	width: 100%;
	height: 100%;
}

.cart__media_numerals{
	padding-top: 79px;
	display: flex;
	justify-content: space-between;
	width: 424px;
}

.cart__media_numerals-count-square{
	position: relative;
}

.cart__media_price-count{
	justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 66%;
    right: 0;
    width: 47px;
    height: 47px;
    border: 1px solid #AFAFAF;
}

.cart__cupon{
	margin-top: 73px;
	display: flex;
	justify-content: space-between;
}

.cart__cupon-form{
	width: 615px;
	flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cupon-form__btn{
	padding: 22px 47px;
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	background: #fff;
}

.cupon-form__btn:hover{
	color: #fff;
	background: #6E9C9F;
	transition: all 0.5s ease;
}

.cart__cupon_update-btn{
	padding: 22px 45px;
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	background: #fff;
}

.cart__cupon_update-btn:hover{
	color: #fff;
	background: #6E9C9F;
	transition: all 0.5s ease;
}

.cart__total{
	margin-top: 88px;
}

.cart__total_atributes{
	row-gap: 28px;
    flex-direction: column;
    display: flex;
    align-items: end;
}

.atributes__subtotal{
	width: 125px;
    display: flex;
    justify-content: space-between;
}

.atributes__total{
	width: 538px;
    display: flex;
    justify-content: space-between;
}

.total__price{
	padding: 22px 51px 22px 31px;
    background: #F1EADC;
    width: 250px;
}

.total__price_num{
	margin-left: 69px;
}

/* checkout */

.content-checkout{
	padding: 190px 0px 130px;
}

.checkout-data{
	margin-top: 216px;
	display: flex;
	justify-content: space-between;
}

.checkout-data h2{
	margin-bottom:47px;
}

.checkout-data input:not(:first-of-type){
	margin-top: 35px;
}

.checkout-data__data-buyer{
	width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 81px;
}

.data-buyer__contact{
	width: 350px;
}

.data-buyer__adress{
	width: 350px;
}

.data-buyer__comment{
	width: 350px;
}

.comment__message{
	width: 350px;
	height: 134px;
}

.data-order__price-details_title{
	width: 146px;
}

.data-order__price-details{
	padding-left: 15px;
}

.price-details{
	padding-right:15px;
	display: flex;
	justify-content: space-between;
}

.price-details:not(:first-of-type){
	padding-right: 26px;
	margin-top:30px;
}

.data-order__price-details_total-price{
	margin-top: 20px;
	width: 265px;
}

.total-price{
	padding: 22px 15px 22px 19px;
    background: #F1EADC;
}

.total-price-num__index{
	margin-left: 128px;
}

.data-order__payment-methode{
	width: 246px;
	margin-top: 159px;
    padding-left: 15px;
}

.data-order__place-an-order{
	margin-top: 47px;
}

/*Success */

.content-success{
	padding: 190px 0px 130px;
}

.success-info{
	align-items: end;
    display: flex;
    justify-content: space-between;
}

.success-info__description{
	align-items: flex-end;
    display: flex;
    justify-content: space-between
}

.success-info__link-btn{
	padding: 22px 27px;
	border: 1px solid #6E9C9F;
    color: #6E9C9F;
    background: #fff;
}

.success-info__link-btn:hover{
	color: #fff;
	background: #6E9C9F;
	transition: all 0.5s ease;
}

.success-info__description_container{
	margin-left: 32px;
}

/* singl-product */

.Single-product__content{
	padding: 190px 0px 130px;
}

.Single-product{
	margin-bottom: 128px;
	display: flex;
}

.Single-product__goods{
	width: 536px;
	height: 729px;
}

.navigation__cart-container{
	display: flex;
	position: relative;
}

.round__cart-numb.active{
	color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 85%;
    left: 65%;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #998E78;
}

.round__cart-numb{
	display: none;
}

.image__goods{
	width: 100%;
}

.Single-product__goods-atributes{
	margin:116px 179px 0px 79px;
	width:347px;
	height: 495px;
}

.Single-product__goods-atributes__price{
	margin-bottom: 59px;
	display: flex;
	width:187px;
	height:44px;
}

.Single-product__goods-atributes__title:first-of-type{
	color: #998E78;
	margin-right: 10px;
	text-decoration: none;
}

.Single-product__goods-atributes__title{
	color: #9C9C9C;
	text-decoration: line-through;
}

.Single-product__goods-atributes_size{
	margin:39px 0px 59px;
	width: 261px;
	height: 41px;
	display: flex;
	justify-content: space-between;
}

.atributes__size.active{
	background: #000;
    color: #fff
}

.atributes__size{
	text-align: center;
    padding: 9px 0px;
    width: 41px;
    height: 41px;
    border: 1px solid #000;
}

.Single-product__goods-atributes_colors{
	margin: 39px 0px 59px;;
	width: 206px;
	height: 41px;
	display: flex;
	justify-content: space-between;
}

.atributes__color.active{
	border: 1px solid #000;
}

.atributes__color{
	background: #927876;
	width: 41px;
    height: 41px;
    border-radius: 50%;
}

.gray{
	background: #D4D4D4 ;
}

.pink{
	background: #FD9696 ;
}

.beidge{
	background: #FDC796;
}

.Single-product__goods-atributes_add-to-cart{
	display: flex;
	width: 347px;
	height: 68px;
	justify-content: space-between;
}

.add-to-cart__index{
	display: block;
	border: 1px solid #AFAFAF;
	padding: 20px 30px;
	width: 68px;
	height: 68px;
}

.add-to-cart__btn-AddToCart{
	padding: 22px 45px;
}
.Single-product__Related-Products{
	width: 730px;
}

.Related-Products__list{
	margin-top: 69px;
	display: flex;
	justify-content: space-between;
}

/* other */
@media (max-width: 1250px) {
	.container {
		max-width: 1100px;
	}

	.foto__main{
		transform: translate(14%, 0%);
	}

	.foto__thumbnails{
		transform: translate(63%,101.5%);
	}


}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

	h1{

	font-size: 45px;

	}

	h2{

	font-size: 35px;

	}

	/*Homepage*/

	.foto__main {
		transform: translate(16%, 0%)
	}

	.foto__thumbnails{
		transform: translate(24%, 102%);
	}

	.foto__second{
		transform: translate(0%,0%);
		position: static;
	}

	.description__title {
		font-size: 48px;
		width: 100%;
	}

	.offer__description h1,p{
		text-align: center;
	}

	.other__text{
		text-align: start;
	}

	.offer__action-btn{
		justify-content: center;
	}

	.new-collection-title{
		text-align: center;
	}


	.Dream-team {
		width: 100%;
	}

	.new-collection__list{
		row-gap: 35px;
		align-items: center;
		flex-direction: column;
	}

	.Dream-team__gallery{
		width: 100%;
	}

	.gallery__foto.active{
		transform: translate(16%, 0%);
    	width: 520px;
	}

	.team-foto{
		width: 100%;
	}

	.slider__scroll-right{
		right: 91%;
	}

	.slider__scroll-left{
		left: 66%;
	}

	.team__text{
		margin: 0px;
	}


/*shop*/

	.categories__clothes {
		padding: 19px 47px;
	}

	.product-feed__list{
		flex-direction: column;
		row-gap: 50px;
		align-items: center;
	}

	.items__categories{
	flex-direction: column;
    row-gap: 35px;
	}

	.categories__clothes {
		text-align: center;
	}


/* About */

	.idea__description{
		width: 100%;
	}

	.about-brand__idea-details{
		width: 440px;
	}

	.about-brand__details_magic{
		width: 440px;
	}

	.magic__description{
		width: 100%;
	}

	.magic__text{
		margin: 37px 0px;
	}

	/* Contacts*/
	#map{
		width: 100%;
		height: 100%;
	}

	/*Single-product*/

	.Single-product {
    flex-wrap: wrap;
	}

	.Single-product__goods-atributes {
		margin: 116px 0px 79px;
		width: 100%;
	}

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}

	.navigation__pannel{
		display: none;
	}

	.Footer__navigation_pannel{
		display: none;
	}

	.navigation{
	justify-content: normal;
    column-gap: 50px;
	}

	.navigation__mobile-menu{
		display: block;
	}

	/*homepage*/

	.offer{
		flex-wrap: wrap;
	}

	.offer__foto-slider{
		order: -1;
	}

	.offer__foto{

	}
	.foto__main{
		transform: translate(40%, -3%)
	}

	.foto__main-img{
		transform: translate(0%,0%);
	}

	.foto__thumbnails{
		display: flex;
		transform: translate(-99%,97%);
	}

	.foto__second{
		position: absolute;
		transform: translate(62%,-94%);

	}

	.offer__description{
		padding-top: 0px;
	}

	.Dream-team{
		flex-wrap: wrap;

	}

	.gallery__foto.active{
		width: 548px;
	}

	.gallery__scroll{
		bottom: 56%;
    	left: 42%;
	}

	.slider__scroll-right{
		bottom: 70%;
		right:88%;
	}

	.slider__scroll-left{
		left: 91%;
		bottom: 70%;
	}

	.team__text{
		margin-top: 35px;
		text-align: center;
	}

	.Dream-team__description{
		width: 100%;
	}

	.Advantages__list{
	text-align: center;
    row-gap: 35px;
    flex-wrap: wrap;
    width: 100%;
	}

	.Advantages__title{
		text-align: center;
	}


	/* About */
	.about-brand__content{
		width: 100%;
	}

	.about-brand__content img{
		width: 100%;
	}

	.about-brand__idea{
		column-gap: 50px;
	}

	.idea__description{
		width: 100%;
	}

	.idea__foto{
		width: 400px;}

	.idea__text{
		text-align: center;
		margin: 0px;
	}

	.idea__text_fp{
		font-size: 15px;
	}

	.idea__text_sp{
		font-size: 15px;
	}

	.about-brand__details{
		column-gap: 50px;
		height: 480px;
	}

	.magic__text{
		text-align: center;
		margin: 0px;
	}

	.magic__text_fp{
		font-size: 15px;
	}

	.magic__text_sp{
		font-size: 15px;
	}

	/*cart*/

	.cart__cupon{
		flex-wrap: wrap;
	}

	.cart__cupon-form{
		align-items: start;
    	flex-direction: column;
		row-gap: 35px;
	}

	.cart__cupon_update-btn{
		margin-top: 35px;
	}

	/*success*/

	.success-info{
		width: 100%;
		flex-wrap: wrap;
		align-items: start;
	}

	.success-info__description{
		align-items: start;
	}

	.success-info__description_container{
		margin-left: 0px;
	}

	.description__text{
		text-align: start;
		width: 100%;
	}

	.success-info__link-btn{
		margin-top: 35px;
	}

	/*single-product*/

	.Single-product__Related-Products {
		width: 100%;
	}

	.Related-Products__list {
		align-items: center;
		row-gap: 35px;
		flex-direction: column;
	}

}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
		width: 100%;
	}

	.footer-content{
		column-gap: 30px;
	}

	.btn{
		padding: 22px 0px;
		display: flex;
		justify-content: center;
	}

	.all__breadcrumbs{
		margin: 26px 0px 114px;
	}

	/*Homepage*/

	.foto__main{
		transform: translate(16%,-3%);
	}

	.offer__description{
		padding: 10px 30px;
	}

	.gallery__foto.active{
		width: 420px;
	}

	.slider__scroll-right{
		right: 86%;
	}

	.gallery__scroll{
		bottom: 61%;
	}

	/* About */

	.about-brand__content{
		flex-wrap: wrap;
	}

	.about-brand__idea{
		flex-wrap: wrap;
		column-gap: 0px;
	}

	.idea__foto{
		width: 100%;
	}

	.idea__description{
		margin-top: 50px;
		height: 100%;
	}

	.about-brand__idea-details{
		width: 100%;
	}

	.about-brand__details{
		flex-wrap: wrap;
		height: 100%;
	}

	.about-brand__details_magic{
		margin-top: 50px;
		width: 100%;
	}

	.magic__description{
		height:100%;
	}

	.magic__foto{
		order: -1;
		width: 100%;
	}

	/*Contacts*/
	.contacts-organization{
	flex-direction: column;
    row-gap: 50px;
    align-items: center;
	}

	.feedback-form{
		row-gap: 50px;
	}

	/*cart*/

	.cart{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    column-gap: 65px;
    justify-content: center;
    width: 100%;
    display: flex;
	}

	.cart__atributes{
    border-right: 1px solid #CCCCCC;
    padding-bottom: 0px;
    row-gap: 50px;
    flex-direction: column;
    border-bottom: 0px;
    justify-content: normal;
	}

	.atributes__goods{
	text-align: center;
    margin: 40px 0px;
	}

	.atributes__Numerals-goods{
	width: 100%;
	margin-top: 80px;
    flex-direction: column;
    padding: 85px 20px 0px;
    row-gap: 50px
	}

	.atributes__Numerals-goods_index:first-of-type{
	border-bottom: 1px solid #CCCCCC;
	}

	.cart__media{
	padding-top: 0px;
	justify-content: normal;
    flex-direction: column;
	}

	.cart__media_atributes{
	margin: 40px 0px 31px;
    flex-direction: column;
	}

	.cart__media_atributes-del{
	padding-top: 0px;
	position: relative;
	}

	.cart__media_index-del{bottom: 0%;
    top: 0%;
    transform: translate(-100%, -100%);
    position: absolute;
	}

	.cart__media_price-count{
		position: static;
	}

	.cart__media_atributes-goods{
		margin-top: 45px;
		padding-top: 0px;
	}

	.cart__media_numerals{
	padding-top: 0px;
	width: 100%;
	row-gap: 37px;
    flex-direction: column
	}

	.cart__media_price-index{
	border-bottom: 1px solid #CCCCCC;
	}


	/*checkout*/

	.checkout__data-order{
		margin-top: 100px;
	}

	.checkout-data{
		width: 100%;
		flex-wrap: wrap;
	}

	.checkout-data__data-buyer{
		width: 100%;
	}

	.comment__message{
		width: 100%;
	}

	.data-buyer__contact{
		width: 100%;
	}

	.data-buyer__comment{
		width: 100%;
	}

	.data-buyer__adress{
		width: 100%;
	}

}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.telephone-number__small{
		font-size: 13px;
		display: block;
	}

	.Dream-team{
		justify-content: center;
	}

	.breadcrumbs{
		height: 100%;
	}

	.breadcrumbs__list{
		flex-wrap: wrap;
	}

	.navigation{
		column-gap: 20px;
	}

	.telephone-number{
		display: none;
	}

	.footer-content{
		flex-direction: column;
		column-gap: 0px;
		row-gap: 20px;
	}

	.footer-social{
		align-items: normal;
	}

	.social__contacts{
		align-items: normal;
	}

	/*Homepage*/

	.foto__thumbnails{
		display: none;
	}

	.foto__main{
    	height: auto;
		transform: translate(4%,-3%);
	}

	.gallery__foto.active{
		width: 368px;
	}

	.slider__scroll-right{
		display: none;
	}

	.slider__scroll-left{
		display: none;
	}

	.gallery__scroll{
		bottom:65%;
		left: 35%;
	}


	/* shop */

	.item__container{
		width: 100%;
	}

	.item__container img{
		width: 100%;
	}
	/*contacts*/
	.feedback-form__message{
		width: 300px;
		height: 180px;
	}

	.contacts__form{
		width: 100%;
	}

	.input{
		width: 300px;
	}

	/*cart*/

	.atributes__Numerals-goods{
		padding: 85px 0px 0px;
	}

	.cart{
		column-gap: 10px;
	}

	.cart__total_atributes{
		align-items: baseline;

	}

	.atributes__total{
		width: 100%;
		flex-direction: column;
		row-gap: 35px;
	}

	.input{
		width: 100%;
	}

	/*success*/
	.success-info__description{
	row-gap: 15px;
    flex-direction: column;
    width: 100%;
	}

	.slick-dots{
		margin-top: 25px;
		justify-content: center;
	}

	/*single-product*/

	.Single-product__goods-atributes_add-to-cart{
		width: 100%;
		flex-direction: column;
		row-gap: 25px;
	}

	.Single-product__goods {
		width: 100%;
		height: auto;
	}

	.Single-product__goods-atributes{
		margin: 10px 0px 79px;
	}
}

/*Breakpoint*/

@media (max-width: 460px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.telephone-number__small{
		display: none;
	}

	.foto__main{
		width: 100%;
		height: auto;
		transform: translate(0%,0%);
	}

	.gallery__foto.active{
		transform: translate(2%,10%);
		width: 269px;
	}

	.btn{
		padding: 22px 38px;
	}

	.offer__description h1{
		font-size: 42px;
	}

	.offer__description{
		padding: 10px 7px;
	}

	.gallery__scroll{
		bottom: 69%;
	}
}
